services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=metro_db
      - POSTGRES_USER=metro_admin
      - POSTGRES_PASSWORD=secret_password
    restart: always

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/static  
    expose:
      - "8000"  
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - DB_ENGINE=POSTGRES
      - DB_NAME=metro_db
      - DB_USER=metro_admin
      - DB_PASSWORD=secret_password
      - DB_HOST=db
      - DB_PORT=5432
    restart: always

  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80" 
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
    depends_on:
      - web
    restart: always

volumes:
  postgres_data:
  static_volume: